ion-thumbnail {
  min-width: 7rem;
  min-height: 7rem;
  img {
    max-width: 7rem;
    min-width: 7rem;
  }
}

ion-viewer-modal {
  :root {
    --ion-toolbar-background: #005661;

  }
}

.toolbar-style {
  color: #005661;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
