

<ion-tabs>
  <ion-tab-bar slot="bottom" color="light" class="toolbar-style">
    <ion-tab-button (click)="goToPlanner()">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Planner</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToExpenses()">
      <ion-icon name="card"></ion-icon>
      <ion-label>Expenses</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToGallery()">
      <ion-icon name="images"></ion-icon>
      <ion-label>Gallery</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
