.trip-detail-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 0px;
  padding: 8px 8px 16px;

  .accomodation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  span {
    margin: 4px 0;
  }
}

.toolbar-style {
  color: #005661;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
