.trip-detail-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 0px;
  padding: 8px 8px 16px;

  .accomodation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  span {
    margin: 4px 0;
  }
}
