<ion-header>
    <ion-toolbar class="toolbar-style" color="light">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Trip To: {{ trip.city }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-card color="light" class="trip-detail-card">
        <h6> Trip to: {{ trip.city }} </h6>
        <span> From: {{ trip.dates.from }}</span>
        <span> To: {{ trip.dates.to }}</span>
        <span> Accommodation: {{ trip.accommodation }}</span>
        <span> Participants: {{ trip.participants }}</span>
    </ion-card>

    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>{{viewTitle}}</ion-title>
            <ion-buttons slot="start">
                <ion-button [disabled]="isToday" (click)="today()">Today</ion-button>
            </ion-buttons>

            <ion-buttons slot="end">
                <ion-button (click)="addEvent()">
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <calendar
            (change)="onChange($event)"
            [eventSource]="eventSource"
            [markDisabled]="markDisabled"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            step="30"
    >
    </calendar>
</ion-content>

