.background-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

ion-card {
  background-color: white;

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 8px;
  }
}