<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      New trip
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="background-container">
    <ion-card class="form-container">

      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input [(ngModel)]="newTrip.city"></ion-input>
      </ion-item>

      <ion-item>
        <div (click)="showCalendarToggle()">
          <ion-label>
            When
          </ion-label>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Participants</ion-label>
        <ion-input [(ngModel)]="newTrip.participants"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Accommodation</ion-label>
        <ion-input [(ngModel)]="newTrip.accommodation"></ion-input>
      </ion-item>

      <div class="button-container">
        <ion-button color="secondary" (click)="saveTrip()" >Save</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>

