<ion-header>
  <ion-toolbar class="toolbar-style" color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Trip Planner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
    <div class="home-container">
        <app-home-button [buttonClass]="'next-trip'" [buttonIcon]="'airplane'" [buttonText]="nextTripDetails" (click)="goToDetails()"></app-home-button>

        <app-home-button [buttonClass]="'new-trip'" [buttonIcon]="'add-circle'" [buttonText]="'Plan a new trip'" [routerLink]="['/new-trip']"></app-home-button>

        <app-home-button [buttonClass]="'trips-list'" [buttonIcon]="'rocket'" [buttonText]="'List of trips'" [routerLink]="['/list']"></app-home-button>
    </div>
</ion-content>
